doctype 5
html
  head
    script(src = "/slang.js", type = "text/javascript")
    style
      html {
        background: red;
      }

      body {
        background: black;

        width
      }

      #dropzone {
        position: fixed;
        top:      0;
        right:    0;
        bottom:   0;
        left:     0;

        background: blue;
      }

      canvas {
        max-width: 100%;
        max-height: 100%;
      }
  body
    #dropzone
      canvas#main

    script(type = "text/javascript")
      var slang = new Slang('#main');

      document.querySelector('#dropzone').addEventListener('drop', function(e) {
        var reader = new FileReader();

        reader.onload = function(event) {
          slang.process(event.target.result);
        };

        reader.readAsDataURL(e.dataTransfer.files[0]);

        e.preventDefault();
      }, false);
